.experience {
  width: 100%;
  max-width: var(--max-content-width);
}

.experience > h2 {
  font-size: var(--font-size-L);
  padding-bottom: 1rem;

  @media screen and (min-width: 700px) {
    font-size: var(--font-size-XL);
  }
}

.experience > p {
  font-size: var(--font-size-S);
  padding-bottom: 1rem;
  max-width: 80ch;

  @media screen and (min-width: 700px) {
    font-size: var(--font-size-SM);
  }
}

.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.experienceCard {
  width: 100%;
  background-color: var(--palette-gray-1);
  padding: 2rem;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  justify-items: center;
  align-items: center;

  @media screen and (min-width: 700px) {
    grid-template-columns: auto 1fr;
    gap: 5rem;
    justify-items: inherit;
    align-items: inherit;
  }
}

.experienceCard h2 {
  font-size: var(--font-size-M);

  @media screen and (min-width: 700px) {
    font-size: var(--font-size-L);
  }
}

.experienceCard a {
  text-decoration: underline;
}

.experienceCard .role {
  font-size: var(--font-size-S);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.6rem;

  @media screen and (min-width: 700px) {
    font-size: var(--font-size-SM);
    flex-direction: row;
  }
}

.experienceCard h3 {
  font-size: var(--font-size-VS);
  padding-bottom: 0.8rem;

  @media screen and (min-width: 700px) {
    font-size: var(--font-size-S);
  }
}

.experienceCard p,
.experienceCard li {
  font-size: var(--font-size-VS);
  padding-bottom: 0.8rem;

  @media screen and (min-width: 700px) {
    font-size: var(--font-size-S);
    padding-bottom: 0.4rem;
  }
}

.experienceCard ul {
  @media screen and (min-width: 700px) {
    list-style: outside;
  }
}
