.contact {
  width: 100%;
  max-width: var(--max-content-width);
  padding: 2rem;
}

.contact > h2 {
  font-size: var(--font-size-XL);
  padding-bottom: 1rem;
}

.contact > p {
  font-size: var(--font-size-SM);
  padding-bottom: 1rem;
  max-width: 80ch;
}

.contact > p:last-of-type {
  padding-bottom: 2rem;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.formField label {
  font-weight: bold;
  font-size: var(--font-size-S);
}

.formField input,
.formField textarea {
  padding: 1rem;
  border: 1px solid var(--palette-gray-3);
  border-radius: 0.4rem;
  font-size: var(--font-size-S);
  margin-bottom: 3rem;
}

.error {
  position: absolute;
  bottom: 0.5rem;
  color: var(--palette-error);
  font-size: var(--font-size-XS);
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--font-size-SM);
}

.detail span {
  text-decoration: underline;
}
